.checkbox {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 17.45px;
  height: 17.45px;
  border-radius: 999px;
  border: 1px solid var(--blue);
  background-color: var(--gray-400);
  margin-left: -5px;
  margin-top: -6px;
}
input[type="checkbox"]:hover::before {
  border: 1px solid var(--blue-dark);
}
input[type="checkbox"]:checked:before {
  content: "V";
  color: var(--gray-100);
  font-size: 12px;
  text-align: center;
  padding-top: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20.45px;
  height: 20.45px;
  background-color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
}
input[type="checkbox"]:checked:hover:before {
  background-color: var(--purple);
  border: 1px solid var(--purple);
}
