.task {
  width: 736px;
  height: 72px;
  background-color: var(--gray-400);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  margin-bottom: 12px;
}
.task label {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-top: -30px;
  padding-left: 30px;
  color: var(--gray-100);
  max-width: 670px;
  /* text-decoration: line-through;*/
}
.delete {
  display: flex;
  justify-content: flex-end;
  width: 680px;
  position: absolute;
  margin-top: -3px;
  margin-left: 30px;
}

.taskContent {
  display: flex;
  justify-content: center;
  padding-top: 65px;
  gap: 450px;
  padding-bottom: 24px;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 8px;
}
.info p {
  color: var(--blue);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.info span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 24px;
  height: 19px;
  background-color: var(--gray-400);
  border-radius: 999px;
  color: var(--gray-200);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
.done {
  display: flex;
  gap: 16px;
}
.done p {
  color: var(--purple);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.done span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 10px;
  width: 52px;
  height: 19px;
  background-color: var(--gray-400);
  color: var(--gray-200);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  border-radius: 999px;
}
.taskToDo {
  display: flex;
  justify-content: center;
}

.deleteButton {
  width: 24px;
  height: 24px;
  border: none;
  color: var(--gray-300);
  background: transparent;
  cursor: pointer;
}
.deleteButton:hover {
  color: var(--danger);
  border-radius: 4px;
  background-color: var(--gray-400);
}
